body {
    display: flex;
}
#container {
    border:solid black;
    display: flex;
    flex:0 0 960px;
    flex-wrap: wrap;
    vertical-align: top; 
            
}

.grid {
    padding:0px;
    margin:0px;
    border:0px;
    display: inline-block;
    width:100px;
    height:100px;
}

.live {
    background-color: black;
}